<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Прогнозирование времянных рядов</title>
</head>
<body>
    <h1>Прогнозирование времянных рядов</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Получить прогноз</button>
    </form>

    {% if plot_url %}
        <h2>График прогнозирования</h2>
        <img src="data:image/png;base64,{{ plot_url }}">
    {% endif %}
</body>
</html>
